* {
	margin: 0px;
	border: 0px;
	background-color: #ffffff;
}

.center {
	text-align: center;
	margin: auto;
}

.title-font {
	font-family: "Roboto Slab";
}

.text-font {
	font-family: "Merriweather";
}

#bar {
    position: fixed;
    background: url(img/triangle.png);
    width: 100%;
    height: 6px;
    z-index: 2;
  }

#PME-title {
	font-size: 60pt;
	padding-top: 20px;
}

.dash {
	margin: auto;
	width: 50%;
}

#intro {
	text-align: left;
	margin: auto;
	width: 60%;
	padding-top: 25px 
}


/********** ANIMATIONS *************/
.links {
	text-decoration: none;
	position: relative;
	color: #4d62e5 !important;
	cursor: pointer;
}
.links:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #4d62e5;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.links:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(0.9);
	transform: scaleX(0.9);
}


.fadein {
	animation-name: fadein;
	-webkit-animation-name: fadein;	

	animation-duration: 0.75s;	
	-webkit-animation-duration: 0.75s;

    -webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
    animation-delay: 0s;
	
	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;
	
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;

	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@keyframes fadein {
	0% {
		transform: scale(1.5);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@-webkit-keyframes fadein {
	0% {
		-webkit-transform: translateY(-12px);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0px);
		-webkit-transform: scale(1);
		opacity: 1;
	}
}








