body {
	margin: 0px;
	background-color: #FDFDFD;
}
h1 {font-family: "Merriweather Sans"; font-size: 70%; padding-bottom: 0px; float: bottom;}
#dock {
	font-family: "Lobster";
	background-color: #ECECEC;
	height: 40px;
	width: 100%;
	position: fixed;
	box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.15); 
}
#leftdock {
	text-align: left;
	width: 50%;
	display: inline-block;
	float: left;
}
#rightdock {
	text-align: right;
	width: 50%;
	display: inline-block;
	float: right;
	padding-top: 8px;
}
#name {
	font-family: "Lobster";
	font-size: 130%;
    line-height: 35px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.dockclick, .docknoclick {
	padding-right: 12px;
	opacity: .4;
}
.dockclick {
	cursor: pointer;
	text-decoration: none;
	color: black;
}
.dockclick:hover {
	opacity: .7;
	font-size: 103%;
}
#toppicture {
	height: 240px;
	width: 100%;
	padding-top: 30px;
	border-style: solid none;
	border-color: #000000;
}
#animationcontainer {
	text-align: center;
	font-family: "Lobster";
	font-size: 400%;
	padding-top: 0px;
	cursor: default;
}
#animate {
	height: 300px;
	width: 300px;
	animation-name: main;
	-webkit-animation-name: main;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;
}
#general {
	background-color: #FCFCFC;
	font-family: "Merriweather Sans";
	padding-left: 300px;
	padding-right: 300px;
}
#aboutmecontent {
	background-color: #FCFCFC;
	font-family: "Merriweather Sans";
	padding-left: 300px;
	padding-right: 300px;
	/*display: none;*/
}
#aboutmecontent.a {
	text-decoration: none;
	color: A85151;
}
.lobster {
	font-family: "Lobster";
	font-size: 120%;
	text-align: center;
}
.contentheader {
	font-family: "Lobster";
	font-size: 130%;
	border: 0px;
}
.content{
	font-family: "Yanone Kaffeesatz";
	font-size: 130%;
	margin-left: 30px;
}
#cabreralink {color: black;}

#sayhicontent {
	padding-bottom: 50px;
}
.sayhiwords {
	text-align: center;
	font-family: "Lobster";
	padding-top: 5px;
}
.bottomwords {
	display: none;
	font-size: 110%;
}
#contact_form {
	display: none;
}
#submit_button {
	font-family: "Lobster";
}
#githublogo,#inboxicon,#musicicon {
	height: 40px;
	width: 40px;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}
.tossing {
	animation-name: tossing;
	-webkit-animation-name: tossing;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
.tossing:hover {
	animation-name: spin;
	-webkit-animation-name: spin;	

	animation-duration: .3s;	
	-webkit-animation-duration: .3s;

	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}







/********** ANIMATIONS **************/
@keyframes main {
	0% {
		transform: rotate(20deg) scaleX(.1);
	}
	20% {
			
		transform: scaleY(.2);	
	}
	40% {
		transform: rotate(-20deg) scaleX(.2);
	}
	60% {
		transform: scaleY(.2);
	}
	80% {
		transform: scaleX(1) scaleY(1);
	}
	100% {}
}
@-webkit-keyframes main {
	0% {
		-webkit-transform: rotate(20deg) scaleX(.1);
	}
	20% {
			
		-webkit-transform: scaleY(.2);	
	}
	40% {
		-webkit-transform: rotate(-20deg) scaleX(.2);
	}
	60% {
		-webkit-transform: scaleY(.2);
	}
	80% {
		-webkit-transform: scaleX(1) scaleY(1);
	}
	100% {}
}
@keyframes tossing {
	0% {
		transform: rotate(-13deg);	
	}
	50% {
		transform: rotate(13deg);
	}
	100% {
		transform: rotate(-13deg);	
	}						
}
@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-13deg);	
	}
	50% {
		-webkit-transform: rotate(13deg);
	}
	100% {
		-webkit-transform: rotate(-13deg);	
	}				
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
		opacity: .2;
	}
	100% {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		opacity: .2;
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}






