* {

}

#title-wrapper {
  text-align: center;
  padding: 1em;
}
#title {
  font-family: "Noto Serif";
  font-size: 32pt;
}
#back {
  position: absolute;
  top: 2%;
  left: 2%;
  font-family: "Noto Serif";
  font-size: 24pt;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

.entry {
  padding: 5em;
}
.topic {
  font-family: "Noto Sans";
  font-size: 24pt;
  padding-bottom: 1em;
}
.content {
  font-family: "Noto Serif";
  font-size: 16pt;
}
.list {
  padding-left: 1em;
  padding-top: 1em;
}


.link {
  text-decoration: none;
  cursor: pointer;
  color: #00aadd;
  transition: color 0.4s;
}
.link:hover {
  color: #a80c6c;
}
