body {
	margin: 0px;
	background-color: #E8E8E8;
}
#topdock {
	background-color: #D4D4D4;
	height: 40px;
	width: 100%;
	position: fixed;
	-moz-border-radius: 65px;
	-webkit-border-radius: 65px;
	border-radius: 65px;
}
#name {
	font-family: "Lobster";
	font-size: 130%;
    line-height: 35px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

