* {

}

body {
	overflow-y: scroll;
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;
	color: #000000;
}

hr.horiz {
	width: 90%;
  border: 1px solid #3c3c3c;
	float:left;
}

#header {
	font-family: 'Noto Serif';
	font-size: 54pt;
	padding: 0.5em;
	color: #3c3c3c;
}

#ipa {

}

#k,#a,#t,#e,#s,#n,#d,#b,#r {
	
	font-size: 32pt;
	color: #5f5f5f;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#subheader {
	font-family: 'Open Sans';
	font-size: 18pt;
	color: #4c4c4c;
	padding-left: 0.5em;
}



.typewriter a {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
















/*
.center {text-align: center;}

.spacer {
	height: 300px;
}

.links1 {
	color: #555555;
	cursor: pointer;
	transition: color 0.5s
}
.links2 {
	color: #777777;
	cursor: pointer;
	transition: color 0.5s
}
.links3 {
	color: #aaaaaa;
	cursor: pointer;
	transition: color 0.5s
}
.links1:hover, .links2:hover, .links3:hover {
	color: #870b0b;
}

.wordlinks {
	cursor: pointer;
	text-decoration: none;
	color: #870b0b;
	transition: color 0.7s;
}
.wordlinks:hover {
	color: #5897d4;
}

.blank {
	visibility: hidden;
}

.cw {
	padding: 0px;
	margin: 0px;
}

#top {
	text-align: left;
	font-size: 50pt;
	padding-top: 50px;
	font-family: "Cutive Mono";

	width: 80%;
	margin: auto;
}

#top-alt {display: none;}

.lookdown {
	display: none;
	font-family: "Cabin";
	font-size: 16pt;
}

.topic {
	display: none;
}

#words {
	width: 70%;
	margin: auto;
}

.header {
	font-family: "Raleway";
	font-size: 28pt;
}

.title {
	font-size: 22pt;
}

.subtitle {
	font-size: 16pt;
}

.content {
	font-size: 16pt;
}

#oldprojects-content {
	display: none;
}
*/

/************ MOBILE OPT *****************/
@media only screen and (max-width: 885px) {
	#top {
		display: none;
	}

	#top-alt {
		display: inline;
		text-align: left;
		font-size: 50pt;
		padding-top: 50px;
		font-family: "Cutive Mono";

		width: 80%;
		margin: auto;
	}
}


/************ ANIMATIONS *****************/
